**/node_modules
**/dist
**/.vite
**/.turbo
**/.next
**/.cache
**/coverage
**/.env
**/.env.*
!**/.env.example
**/.DS_Store
.git
.github
**/.claude-crons
**/keys
**/private.key
**/public.key
**/.pnpm-store
*.log
